*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(180deg, #249687 20px, #DADBD3 150px);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  min-width: 600px;
  width: 80%;
  height: 90%;
  background-color: yellow;
  margin: 20px auto;
  display: flex;
}

.contacts{
  width: 35%;
  height: 100%;
  background-color:#FAFAFA;
}

.conversation{
  width: 65%;
  height: 100%;
  background-color: red;
}

.your-avatar{
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  padding: 5px;
  display: flex;
}

.notifications{
  width: 100%;
  height: 50px;
  background-color: #8EDAFD;
  padding: 5px 12px;
  display: flex;
}

.search-bar{
  width: 100%;
  height: 40px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-of-contacts{
  width: 98%;
  height: calc(100% - 140px);
  background-color: #FAFAFA;
}

.current-contact{
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  border-left: 1px solid grey;
}

.messages{
  width: 100%;
  height: calc(100% - 100px);
  background-image: url(../img/mine.jpg);
}

.digit-message{
  width: 100%;
  height: 50px;
  background-color: #F3EDE8;
}

.your-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  
}

.your-image img{
  width: 100%;
}

.your-name{
  line-height: 45px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}

.campanella{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campanella i{
  color: #8EDAFD;
}

.testo-campanella{
  padding: 5px;
  margin-left: 5px;
}

.testo-campanella span{
  font-size: 11px;
  text-decoration: underline;
  color: grey;
}

.search-bar .lente{
 width: 18%;
 background-color: #fff;
 color: #CCCECF;
 text-align: center;
 line-height: 34px;
 border: solid 1px #F7F8F8;
 border-right: none;
}

.search-bar input{
  width: 80%;
  height: 36px;
  border: solid 1px #F7F8F8;
  border-left: none;
}

.list-of-contacts ul{
  list-style: none;
}

.list-of-contacts ul li{
  height: 50px;
  background-color:#fff;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #EFEFEF;
  position: relative;
}

.list-of-contacts ul li:last-child{
  border-bottom: none;
}

.list-of-contacts ul li .user-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.list-of-contacts ul li .user-image img{
  width: 100%;
}

.list-of-contacts ul li .name-user{
  margin-left: 10px;
}

.list-of-contacts ul li .name-user .message-intro{
  font-size: 10px;
  color: #C2C4C5;
}

.list-of-contacts ul li .data{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  color: #C2C4C5;
}