<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <title>Vue Boolzapp</title>
</head>

<body>
  <div id="app" class="container">
    <div class="contacts">
      <div class="your-avatar">
        <div class="your-image">
          <img src="img/avatar_io.jpg" alt="">
        </div>
        <div class="your-name">Nome Utente</div>
        <div class="options">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="notifications">
        <div class="campanella">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div class="testo-campanella">
          <h5>Ricevi notifiche di nuovi messaggi</h5>
          <span>Attiva notifiche desktop</span>
        </div>
      </div>
      <div class="search-bar">
        <div class="lente">
          <i class="fas fa-search"></i>
        </div>
        <input type="text" v-model="searchContact" @keyup="findContact(searchContact)"
          placeholder="Cerca o inizia una nuova chat">
      </div>
      <div class="list-of-contacts">
        <div class="li" v-for="(item, index) in activeUsers" @click="showMessages(index)"
          :class="{active : active_user == index}">
          <div class="user-image" v-if="item.visible==true">
            <img :src="'img/' + item.profile_image" alt="">
          </div>
          <div class="user-image" v-else="item.visible==true"></div>
          <div class="name-user" v-if="item.visible==true">
            <h4>{{item.user}}</h4>
            <div class="message-intro" v-if="item.visible==true">
              {{getLastMessage(index)}}
            </div>
          </div>
          <div class="data" v-if="item.visible==true">
            {{getLastDate(index)}}
          </div>
        </div>
      </div>
    </div>
    <div class="conversation">
      <div class="current-contact">
        <div v-if="active_user >= 0" class="user-image">
          <img :src="'img/' + activeUsers[active_user].profile_image" alt="">
        </div>
        <div class="current-contact-name">
          <h5 v-if="active_user >=0">{{activeUsers[active_user].user}}</h5>
          <h5 v-else>Nessun contatto selezionato</h5>
          <span v-if="active_user >=0">Ultimo accesso oggi alle 16:00</span>
        </div>
        <div class="options-right">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="messages">
        <ul v-if="active_user >= 0">
          <li v-for="(messaggio,index) in contacts[active_user].messages">
            <div :class="{ 'inviato' : messaggio.status == 'sent', 'ricevuto' : messaggio.status == 'received' }">
              <div class="msg">{{messaggio.text}}</div>
              <div class="data-msg">{{messaggio.date}}</div>
            </div>
          </li>
        </ul>
        <ul v-else></ul>
      </div>
      <div class="digit-message" v-if="active_user >= 0">
        <i class="far fa-smile"></i>
        <input @keyup.enter="sendNewMessage" v-model="textInput" type="text" placeholder="Scrivi un messaggio">
        <i class="fas fa-microphone"></i>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>

</html>